---
#########################################################
## OpenBao Vault Administration module               ##
#########################################################

# Validate variables for OpenBao Vault administration module.
- name: Validate variables for OpenBao Vault administration module...
  ansible.builtin.assert:
    that: varitem is defined
    fail_msg: Required variable '{{ varitem }}' has not been provided.
    quiet: true
  loop_control:
    loop_var: varitem
  loop:
    - vault_address
    - vault_token

#########################################################
## Start service                                       ##
#########################################################

- name: Start action...
  when: action_type == "start"
  block:
    # Show information message
    - name: Information message
      ansible.builtin.debug:
        msg: This part is not (yet) implemented.

    # Stop playbook
    - name: Stop playbook
      ansible.builtin.meta: end_play

#########################################################
## Stop service                                        ##
#########################################################

- name: Stop action...
  when: action_type == "stop"
  block:
    # Show information message
    - name: Information message
      ansible.builtin.debug:
        msg: This part is not (yet) implemented.

    # Stop playbook
    - name: Stop playbook
      ansible.builtin.meta: end_play

#########################################################
## Update                                              ##
#########################################################

- name: Update action...
  when: action_type == "update"
  block:
    # Show information message
    - name: Information message
      ansible.builtin.debug:
        msg: This part is not (yet) implemented.

    # Stop playbook
    - name: Stop playbook
      ansible.builtin.meta: end_play

#########################################################
## Post-actions                                        ##
#########################################################
