---
#########################################################
## OpenBao install action                              ##
#########################################################

#########################################################
## Pre-installation uninstall                          ##
#########################################################

# Run uninstall if uninstall is set
- name: Run uninstall playbook if set
  ansible.builtin.include_tasks: uninstall.yml
  when: openbao_vars.container.uninstall | default(false)

#########################################################
## Installation on podman                              ##
#########################################################

- name: Install {{ role_container_name }} container on podman...
  when: openbao_vars.container.platform == "podman"
  block:
    # Gather installed packages
    - name: Gather installed packages
      ansible.builtin.package_facts:
        manager: auto

    # Check if podman is detected
    - name: Gather information (podman)...
      ansible.builtin.assert:
        that: '"podman" in ansible_facts.packages'
        fail_msg: Podman is not installed. Please install Podman first. Cannot continue...

    #####################################################
    ## Volume configuration                            ##
    #####################################################

    # Create volumes
    - name: Create configuration folders...
      ansible.builtin.include_role:
        name: podman
      vars:
        action: create_volumes
        container_volumes: "{{ openbao_vars.container.volumes }}"
        volume_mode: "0777"

    #####################################################
    ## OpenBao SSL certificate                         ##
    #####################################################

    # Create temp folder for SSL certificate
    - name: Create temporary folder...
      ansible.builtin.file:
        path: /tmp/vault/certs
        state: directory
        mode: "0700"

    # Create SSL certificate
    - name: Create SSL certificate for OpenBao...
      ansible.builtin.include_tasks:
        file: create_ssl_certificate.yml
      vars:
        destination_folder: /tmp/vault/certs

    # Copy SSL certificate to container
    - name: Copy SSL certificate to container volume...
      ansible.builtin.include_role:
        name: podman
      vars:
        action: copy_to_volume
        volume_source_folder: /tmp/vault/certs/
        volume_destination_folder: /vault/config
        volume_mode: "0777"

    # Delete temp folder
    - name: Delete temporary folder...
      ansible.builtin.file:
        path: /tmp/vault/certs
        state: absent

    #####################################################
    ## Vault configuration                             ##
    #####################################################

    # Create temp folder for configuration file
    - name: Create temporary folder...
      ansible.builtin.file:
        path: /tmp/vault
        state: directory
        mode: "0700"

    # Create configuration file
    - name: Create Vault configuration file...
      ansible.builtin.template:
        src: ./templates/vault.podman_config.hcl.j2
        dest: /tmp/vault/vault.hcl

    # Copy configuration file to container
    - name: Copy configuration file to container...
      ansible.builtin.include_role:
        name: podman
      vars:
        action: copy_to_volume
        volume_source_folder: /tmp/vault/
        volume_destination_folder: /vault/config
        volume_mode: "0777"

    # Delete temp folder
    - name: Delete temporary folder...
      ansible.builtin.file:
        path: /tmp/vault
        state: absent

    #####################################################
    ## Firewall configuration                          ##
    #####################################################

    # Open firewall ports
    - name: Open firewall ports...
      become: true
      ansible.posix.firewalld:
        port: "{{ (item.split(':')[0]) }}/tcp"
        permanent: true
        state: enabled
        immediate: true
      loop: "{{ openbao_vars.container.ports | default([]) }}"

    #####################################################
    ## Import container                                ##
    #####################################################

    # Debug info
    - name: Debug info
      ansible.builtin.debug:
        msg: 
          - "install openbao_vars: {{ openbao_vars }}"
          - "test: {{ openbao_vars.container.repository_url }}"

    # Import container
    - name: Install {{ openbao_vars.container.name }} container on podman
      ansible.builtin.include_role:
        name: podman
      vars:
        action: import_container
        container_repository_url: "{{ openbao_vars.container.repository_url }}"
        container_repository_tag: "{{ openbao_vars.container.repository_tag | default(omit) }}"
        container_repository_checksum: "{{ openbao_vars.container.repository_checksum | default(omit) }}"
        container_repository_checksum_algorithm: "{{ openbao_vars.container.repository_checksum_algorithm | default(omit) }}"
        container_name: "{{ openbao_vars.container.name }}"
        container_ports: "{{ openbao_vars.container.ports }}"
        container_volumes: "{{ openbao_vars.container.volumes }}"
        container_command: vault server -config=/vault/config/vault.hcl
        container_security_opt: [label=disable]
        container_env: "{{ openbao_vars.container.environment | default(omit) }}"
        container_privileged: "{{ openbao_vars.container.privileged | default(false) }}"
        container_cap_add: "{{ openbao_vars.container.cap_add | default(omit) }}"
        container_cap_drop: "{{ openbao_vars.container.cap_drop | default(omit) }}"
        container_user: "{{ openbao_vars.container.user | default(omit) }}"
        container_healthcheck: "{{ openbao_vars.container.healthcheck | default(omit) }}"
        container_healthcheck_fail: "{{ openbao_vars.container.healthcheck_fail | default('none') }}"
        container_healthcheck_retries: "{{ openbao_vars.container.healthcheck_retries | default(omit) }}"
        container_healthcheck_interval: "{{ openbao_vars.container.healthcheck_interval | default(omit) }}"
        container_healthcheck_timeout: "{{ openbao_vars.container.healthcheck_timeout | default(omit) }}"
        container_healthcheck_start: "{{ openbao_vars.container.healthcheck_start | default(omit) }}"

#########################################################
## Configuration                                       ##
#########################################################

# Get ip address
- name: Register variable (vault_address)...
  ansible.builtin.set_fact:
    vault_address: https://{{ ansible_default_ipv4.address }}:{{ openbao_vars.container.ports[0].split(':')[0] }}

# Configure OpenBao
- name: Configure application
  ansible.builtin.include_tasks: configure.yml
  vars:
    action_type: configure

#########################################################
## Post-install                                        ##
#########################################################

# Unset variables
#- name: Unset variables...
#  ansible.builtin.set_fact:
