---
#########################################################
## Uninstall action                                    ##
#########################################################
# Uninstall action 
# variables: 
#   - vault_container_name: Name of the container to uninstall
#   - vault_container_volumes: Volumes folders of the container to uninstall
#   - keep_data: true/false. Keep data when uninstalling. Default false.

#########################################################
## Uninstall configuration                             ##
#########################################################

# Set keep_data if not defined
- name: Set keep_data if not defined
  ansible.builtin.set_fact:
    keep_data: false
  when: keep_data is not defined

#########################################################
## Uninstall via podman                                ##
#########################################################

- name: Uninstall {{ openbao_vars.container.name }} on podman
  when: platform == "podman"
  block:
    # Check if container is present
    - name: Check if container is present
      containers.podman.podman_container_info:
        name: "{{ openbao_vars.container.name }}"
      register: pod_info
      ignore_errors: true

    # Remove container
    - name: Remove container {{ openbao_vars.container.name }}
      containers.podman.podman_container:
        name: "{{ openbao_vars.container.name }}"
        state: absent
      when:
        - pod_info.containers is defined
        - (pod_info.containers | length) > 0

#########################################################
## Uninstall data                                      ##
#########################################################

# Start destroy_volumes from podman role
- name: Destroy container data folders for {{ openbao_vars.container.name }}...
  ansible.builtin.include_role:
    name: podman
  vars:
    action: destroy_volumes
    container_volumes: "{{ openbao_vars.container.volumes }}"
  when:
    - platform == "podman"
    - keep_data == false

#########################################################
## Uninstall users/groups                              ##
#########################################################

# TODO

#########################################################
## Post-uninstall                                      ##
#########################################################

# Unset variables
- name: Unset variables
  ansible.builtin.set_fact:
    keep_data:
