---
#########################################################
## Uninstall action                                    ##
#########################################################
# Uninstall action 
# variables: 
#   - vault_container_name: Name of the container to uninstall
#   - vault_container_volumes: Volumes folders of the container to uninstall
#   - keep_data: true/false. Keep data when uninstalling. Default false.

#########################################################
## Uninstall configuration                             ##
#########################################################

# Set keep_data if not defined
- name: Set keep_data if not defined
  ansible.builtin.set_fact:
    keep_data: false
  when: keep_data is not defined

#########################################################
## Uninstall via podman                                ##
#########################################################

# Delete container via podman
- name: Delete container {{ openbao_container_name }} on podman
  ansible.builtin.include_role:
    name: podman
  vars:
    action: delete_container
    container_name: "{{ openbao_container_name }}"
    result_var: "openbao_uninstall_result"
  when: openbao_container_platform == "podman"

# TODO error handling if uninstall fails

#########################################################
## Uninstall data                                      ##
#########################################################

# Start destroy_volumes from podman role
- name: Destroy container data folders for {{ openbao_container_name }}...
  ansible.builtin.include_role:
    name: podman
  vars:
    action: destroy_volumes
    container_volumes: "{{ openbao_container_volumes }}"
  when:
    - openbao_container_platform == "podman"
    - keep_data == false

#########################################################
## Uninstall users/groups                              ##
#########################################################

# TODO

#########################################################
## Post-uninstall                                      ##
#########################################################

# Unset variables
- name: Unset variables
  ansible.builtin.set_fact:
    keep_data:
