---
#########################################################
## Update                                              ##
#########################################################

#########################################################
## Pre-installation platform check                     ##
#########################################################

# Determine platform from vars (default podman)
- name: Set platform variable
  ansible.builtin.set_fact:
    platform: "{{ openbao_container_platform | default('podman') }}"

#########################################################
## Update via podman                                   ##
#########################################################

- name: Update Vault on podman
  when: platform == "podman"
  block:
    # Update podman container
    - name: Update Podman container...
      ansible.builtin.include_role:
        name: podman
      vars:
        action: update_container
        container_name: "{{ openbao_container_name }}"
        container_repository_url: "{{ openbao_container_repository_url }}"

#########################################################
## Post-actions                                        ##
#########################################################

# Unset variables
