---
#########################################################
## Export secret helper module                         ##
#########################################################

# Get secret via Vault API.
- name: "Retrieve secrets from Vault ({{ vault_address }})..."
  ansible.builtin.uri:
    url: "{{ vault_address }}/v1/{{ openbao_secret_secret_engine_name }}/data/{{ secret.secret_name }}"
    validate_certs: "{{ openbao_application_validate_certs | default(true) }}"
    method: GET
    headers:
      X-Vault-Token: "{{ vault_token }}"
    return_content: true
  register: secret_response
  no_log: true

# Set variable
- name: Set secret_results variable...
  ansible.builtin.set_fact:
    secret_results_item:
      secret_engine_name: "{{ openbao_secret_secret_engine_name }}"
      secret_name: "{{ openbao_secret_secret_name }}"
      hash: "{{ secret_response.json.data.data | hash('sha256') }}"
      secret_data: "{{ secret_response.json.data.data }}"

# Initialize secret_results if not already initialized
- name: Initialize secret_results variable...
  ansible.builtin.set_fact:
    secret_results: "{{ secret_results | default([]) | list }}"

# Set result
- name: Add secrets to variable...
  ansible.builtin.set_fact:
    secret_results: "{{ secret_results + [secret_results_item] }}"
  no_log: true

# Debug message
- name: Information message...
  ansible.builtin.debug:
    msg: Secret {{ openbao_secret_secret_name }} retrieved from secret engine {{ openbao_secret_secret_engine_name }}...
  when: export_secrets_verbose | default(false)
